
<footer>
    <div class="container">
        <div class="row">
            <div class="span4" style="width: 250px;">
                <div class="widget">
                    <h5 class="widgetheading">Products</h5>
                    <ul class="link-list">
                        <li><a href="#">Navodya</a></li>
                        <li><a href="#">Sainik school</a></li>
                        <li><a href="#">rimc- military class</a></li>
                        <li><a href="#">PPT</a></li>
                        <li><a href="#">ntpc railway </a></li>
                        <li><a href="#">pet</a></li>
                        <li><a href="#">ssc je</a></li>
                        <li><a href="#">mts ssc</a></li>
                        <li><a href="#">nptel</a></li>
                        <li><a href="#">chsl ssc</a></li>
                        <li><a href="#">ntse </a></li>
                        <li><a href="#">olympiad</a></li>
                        <li><a href="#">railway</a></li>
                        <li><a href="#">ntpc</a></li>
                        <li><a href="#">psu</a></li>
                        <li><a href="#">ssc cgl</a></li>
                        <li><a href="#">refer n earn</a></li>
                        <li><a href="#">campus ambasdor </a></li>
                        <li><a href="#">Q1+</a></li>
                    </ul>

                </div>
            </div>


            <div class="span4" style="width: 250px;">
                <div class="widget">
                    <h5 class="widgetheading">Company</h5>
                    <ul class="link-list">
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">About Us</a></li>
                        <!-- <li><a href="#">Contact Us</a></li> -->
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">Blog/Article</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Third Party Condition</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">User Guideline</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Meet the Team</a></li>

                    </ul>

                </div>
            </div>

            <div class="span4" style="width: 250px;">
                <div class="widget">
                    <h5 class="widgetheading">Account</h5>
                    <ul class="link-list">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Reset Password</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Connect</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Phone No.</a></li>
                        <li><a href="#">Mail Id</a></li>
                        <li><a href="#">Advertise with Us</a></li>
                        <!-- <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a href="#">Third Party Condition</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">User Guideline</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Meet the Team</a></li> -->

                    </ul>

                </div>
            </div>


            <div class="span4" style="width: 250px;">
                <div class="widget">
                    <h5 class="widgetheading">Subscribe newsletter</h5>
                    <p>
                        Keep updated for new releases and freebies. Enter your e-mail and subscribe to our newsletter.
                    </p>
                    <form class="subscribe">
                        <div class="input-append">
                            <input class="span2" id="appendedInputButton" type="text">
                            <button class="btn btn-theme" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="copyright">
                        <p><span>&copy; Qurious Ones company. All right reserved</span></p>
                    </div>

                </div>

                <div class="span6">
                    <div class="credits">
                        <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Eterna
              -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>