<div id="wrapper">

    <!-- start header -->


    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="inner-heading">
                        <ul class="breadcrumb">
                            <li><a routerLink=''>Home</a> <i class="icon-angle-right"></i></li>
                            <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
                            <li class="active">404</li>
                        </ul>
                        <h2>404</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">



            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="column">
                            <a href="##">
                                <div class="card">
                                    <img src="img/dummies/blog/img1.jpg">
                                    <h3>Card 1</h3>
                                    <p>Some text</p>
                                    <p>Some text</p>
                                    <br>
                                </div>
                            </a>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                                <h3>Card 2</h3>
                                <p>Some text</p>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                                <h3>Card 3</h3>
                                <p>Some text</p>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                                <h3>Card 4</h3>
                                <p>Some text</p>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                                <h3>Card 4</h3>
                                <p>Some text</p>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                                <h3>Card 4</h3>
                                <p>Some text</p>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                                <h3>Card 4</h3>
                                <p>Some text</p>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                                <h3>Card 4</h3>
                                <p>Some text</p>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://www.w3schools.com/images/w3schools_green.jpg">
                                <h3>Card 4</h3>
                                <p>Some text</p>
                                <p>Some text</p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </section>
</div>